:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 8px;
}
.form input {
  width: 272px;
  padding: 8px 12px;
  border: 1px solid #808080;
  border-radius: 4px;
  /* outline: none; */
  font-size: 16px;
}

.form button {
  padding: 8px 16px;
  border: 1px solid #4e75ff;
  border-left: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.form button:hover {
  background-color: #6c8cff;
}

.loader {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}

.hidden {
  display: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  /* padding: 20px 0; */
  list-style: none;
  margin: 32px 156px 32px 156px;
}
.gallery-item {
  border: 1px solid #808080;
}
/* .gallery li {
  aspect-ratio: 1;
} */

.gallery img {
  min-width: 360px;
  min-height: 200px;
  object-fit: cover;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery .info {
  display: flex;
  width: 360px;
  justify-content: space-around;
  /* padding: 8px; */
  font-size: 14px;
}

.gallery .info p {
  margin: 0;
  text-align: center;
  font-weight: 500;
}
